<launch>

    <!-- topic name -->
    <arg name="obstacle_topic"  default="/laserscan_obstacles" />
    <arg name="obstacle_topic_viz"  default="/laserscan_obstacles_viz" />

    <!-- namespace -->
    <arg name="namespace"       default="laser_obstacles" />

    <node name="obstacle_viz_$(arg namespace)" pkg="drive_ros_env_viz" type="obstacles" >

        <!-- topic names -->
        <remap from="obstacles_in" to="$(arg obstacle_topic)"/>
        <remap from="marker_out"   to="$(arg obstacle_topic_viz)"/>

        <!-- namespace of marker -->
        <param name="ns" type="str" value="$(arg namespace)" />

    </node>

</launch>
